.navbar{
    background-color: #76c990;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.navbar-brand{
    text-decoration: none;
    color: white;
}

.navbar-brand:hover{
    background-color:#6ae3b5;
    color: white;
}

.nav-link:hover{
    color: white;
    background-color:#6ae3b5;
}

main{
    background-color:#92d470;
    color: white;
}

.jumbotron{
    background-color: #76c990;
}
.jumbotron h1{
    text-align: center;
    color: white;
}