body{
    margin: 0;
    background-color: beige;
}

.navbar{
    background-color: #76c990;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.navbar-brand{
    text-decoration: none;
    color: white;
}

.navbar-brand:hover{
    color: white;
}

.nav-link:hover{
    color: white;
}

main{
    background-color:#c7cfB7;
    color: white;
}
