.navbar{
    background-color: #76c990;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.navbar-brand{
    text-decoration: none;
    color: white;
}

.navbar-brand:hover{
    background-color:#6ae3b5;
    color: white;
}

.nav-link:hover{
    color: white;
    background-color:#6ae3b5;
}

main{
    background-color:#92d470;
    color: white;
}

.hero-image img{ 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#showcase h2{
    text-align: center;
}
.column{
    float: left;
    width: 25%;
}

.column img{
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
}

.column img:hover {
    opacity: 1;
  }

.container{
    position: relative;
    display: none;
}


footer{
    margin-bottom:0;
}

.jumbotron{
    background-color: #76c990;
}
.jumbotron h1{
    text-align: center;
    color: white;
}